<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645795511035-9jcro27boe7q9f5l5mgevcda71i1mo66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645795511035-9jcro27boe7q9f5l5mgevcda71i1mo66</string>
	<key>API_KEY</key>
	<string>AIzaSyCsynA0rQiRfB1C0-57QggdqYpQh-FBqP4</string>
	<key>GCM_SENDER_ID</key>
	<string>645795511035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.drinksApp</string>
	<key>PROJECT_ID</key>
	<string>drinks-3822f</string>
	<key>STORAGE_BUCKET</key>
	<string>drinks-3822f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645795511035:ios:d3036fc952830b61310e5e</string>
	<key>DATABASE_URL</key>
	<string>https://drinks-3822f.firebaseio.com</string>
</dict>
</plist>